body {
    background: url("http://i66.tinypic.com/2psm7na.jpg");
}

h1 {
    font-family: 'Neucha', cursive;
}

h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Open Sans Condensed', sans-serif;
}

.container {
    margin-top: 100px;
}

.jumbotron {
    background: red;
    color: #fff;
}

.avenger {
    height: 9%;
    width: 9%;
    color: #fff;
}

.survey-button {
    font-size: 1.5rem;
    background: red;
    color: #fff;
    padding: 7px 15px;
    border: 2px solid #fff;
    border-radius: 25px;
}

.survey-button:hover {
    color: red;
    background: #fff;
    text-decoration: none;
    border: 2px solid red;
}

.survey {
    margin-top: 0;
    background: #fff;
    padding: 10px 15px;
}

#match-image {
    width: 100%;
}